/**
* Lightbox
*/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

#lightbox {
    padding: 5%;
    width: 70%;
    border-radius: 20px;
}

#lightbox img {
    width: 100%;
}

#lightbox::backdrop {
    background-color: rgb(177, 115, 0);
    opacity: 0.5;
}